@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Roboto+Mono:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Recursive&family=Roboto+Mono:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Recursive&family=Roboto+Mono:wght@300;600&family=Source+Code+Pro:wght@200&display=swap');
h3 {
    font-family: 'Roboto Mono', monospace;
}

h4 {
    font-family: 'Nunito', sans-serif;
}

h5 {
    font-family: 'Source Code Pro', monospace
}

.box {
    margin-left: 30%;
    border: solid 1px black;
    padding: 2px;
    width: 800px;
    height: auto;
    background: blanchedalmond;
}

body {
    background-image: url(images/bg2.jpg);
}

a {
    background-color: white;
}